;; -*- mode: Lisp; -*-

(setq prj-version "0.4")

(setq prj-config
      '(("project-name" . "calc")))

(setq prj-tools
      '(("Make" "make" "f9")
	("Clean" "make clean" "C-f9")
	("Run" "echo run what" "f8")
	("Stop" "-e eproject-killtool" "C-f8")
	("---")
	("Configure" "./configure")
	("---")
	("Explore Project" "nautilus --browser `pwd` &")
	("XTerm In Project" "xterm &")))

(setq prj-files
      '(("../../book_examples/IO/1/src/Main.hs" 1 19)
	("Main.hs" 1 13)))

(setq prj-curfile "Main.hs")

(setq prj-functions nil)

